<h1 class="text-center">Ordenes para pago</h1>
<div class="container">
    <% if @orders.count > 0 %>
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Patente</th>
        <th scope="col">Dueño</th>
        <th scope="col">Precio</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
        <tr>
        <td> <%= order.car.marca %> </td>
        <td> <%= order.car.model %></td>
        <td> <%= order.car.ppu %> </td>
        <td> <%= order.car.client %></td>
        <td><p>$<%= order.car.price %></p></td>
        <td><%= link_to "Pagar", execute_billings_path, class:'btn btn-outline-warning' %></td>
        <td><%= link_to "Borrar", clean_orders_path, class:'btn btn-danger' %></td>
        </tr>
        <% end %>
        
    </tbody>
    </table>
    <% else %>
        <p>No hay ordenes para cobrar</p>
    <%end%>
    <%= link_to "Back", cars_path, class:'btn btn-outline-primary' %>
</div>